@keyframes slidy {
0%  { left: 0%; }
5%  { left: 0%; }
10% { left: 0%; }
15% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
30% { left: -100%; }
35% { left: -100%; }
40% { left: -100%; }
45% { left: -200%; }
50% { left: -200%; }
55% { left: -200%; }
60% { left: -200%; }
65% { left: -300%; }
70% { left: -300%; }
75% { left: -300%; }
80% { left: -300%; }
85% { left: -400%; }
90% { left: -400%; }
95% { left: -400%; }
100% { left: -400%; }
}

div#slider {
  overflow: hidden;
}

div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: -150px 0px 0px 0px;
  left: 0;
}

#bigFlex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#equipContent {
  flex-direction: column;
}

#tripNames {
  display: flex;
  justify-content: center;
}

#iconSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#activities, #weather, #duration {
  display: flex;
  justify-content: center;
}

.icons {
  padding: auto;
}

#finalList {
  display: flex;
  justify-content: center;
}

#loadList {
  display: flex;
  flex-direction: column;
}

#buttonList {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#buttons {
  display: flex;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}

#buttonSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#finalList {
  /*display: flex;*/
  justify-content: center;
}

.cButton {
  display: flex;
  padding: 0px 5px 0px 5px;
}

.sButton {
  display: flex;
  padding: 0px 5px 0px 5px;
}

.container {
  display: flex;
  justify-content: center;
}

#resourceInfo {
  display: flex;
  justify-content: center;
}

#productResources {
  padding: 10px 20px 10px 20px;
}

.bioContainer {
  display: flex;
  margin: 10px 0px 10px 0px;
  padding: 0px 10px 10px 10px;
}

#biographies {
  justify-content: center;
  padding: 0px 10px 10px 10px;
}

#aboutSection {
  flex-direction: column;
  padding: 0px 10px 10px 10px;
}

#bios {
  display: flex;
  flex-direction: row;
  padding: 0px 10px 40px 10px;
  justify-content: center;
}

#tweetflex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: flex-start;
}

#tweetfeed {
  display: inline-flex;
}

.twitter-timeline {
  display: flex;
  text-align: center;
}

#journal {
  display: flex;
  justify-content: center;
}

#footer {
  flex-direction: row;
}

.journalSection {
  display: flex;
}

#dropDownSection {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.drop {
  display: flex;
  padding: 5px 5px 0px 5px;
}

#formContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 10px 10px 10px 10px;
  align-items: baseline;
}

#formArticle {
  display: flex;
  padding: 10px 10px 10px 10px;
}

#inputSection {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  overflow: scroll;
}

#listContainer {
  display: flex;
  flex-direction: column;
}

#dropListName {
  display: flex;
  justify-content: center;
}

#listArticle {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  overflow: scroll;
}

legend {
  display: flex;
}

.formField {
  display: flex;
}

#inputSection {
  display: flex;
  justify-content: center;
}

#clearAll {
  display: flex;
  justify-content: center;
  padding: 20px 5px 20px 5px;
}

#button1 {
  padding-right: 5px;
}

#button2 {
  padding-left: 5px;
}
